@import 'bulma';

:root {
  --bg: #06315F;
  --nav-bg: #041221;
  --div-bg: #0b59ad;
  --font-color1: #fafaff;
  --font-color2: #52b7ff;
  overflow-y: hidden;
}

body {
  background: var(--bg);
  height: 100vh;
}

input::placeholder {
  color: antiquewhite;
}

.columns {
  margin-top: 20px;
}

.hide {
  display: none;
}

.navbar {
  background: var(--nav-bg);
}

.navbar-item {
  color: var(--font-color1);
}

.fa {
  color: var(--font-color1);
  margin: 10px
}

.user-profile {
  background-color: var(--div-bg);
  height: 440px;
  min-width: 350px;
  margin: auto 0; 
  padding: 15px 15px;
}

.user-select {
  background: var(--div-bg);
  height: 60px;
}

.user-select p{
  color: var(--font-color1);
  padding-top: 8px;
  margin-left: 70px;
}
.user-select:hover > p{
  color: var(--font-color2);
  text-decoration: underline;
}

.filter-box {
  width: 300px;
  font-weight: bolder;
}

.filter-text {
  margin: auto;
}

.filter-dropdown select {
  width: 100%;
  padding: 10px 0px;
}

.filter-box,
.user-status {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: auto;
  color: var(--font-color1);
}

.user-status > div:nth-child(1) {
  font-size: small;
  margin: auto;
}

.badge {
  background-color: var(--font-color2);
  padding: 10px;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  font-weight: bold;
}

button {
  outline: 0;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  &:hover {
    cursor: pointer;
    color: var(--font-color1)
  }
}
